<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" th:href="@{/css/translation-home.css}"/>
</head>
<body>
<div class="container">
    <h1>Bienvenue sur AmazingTranslator</h1>
    <div class="buttons">
        <a class="btn" th:href="@{/translations/list}">Afficher la liste</a>
        <a class="btn" th:href="@{/translations/search}">Effectuer une recherche</a>
    </div>
</div>
</body>
</html>